

.BrandBox{
    /* border: 1px solid blue; */
    width: fit-content;
    padding: 10px;
    
}

.BrandBox :hover{
    /* border: 1px solid blue; */
 cursor: pointer;
 box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.Bimg{
    width: 100%;
}